<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.chl.startup.sizematters.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.chl.startup.sizematters.app.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity android:name="edu.chl.startup.sizematters.app.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.chl.startup.sizematters.app.MeasureActivity" />
        <activity android:name="edu.chl.startup.sizematters.app.BrowseDetailsActivity" />
        <activity
            android:name="edu.chl.startup.sizematters.app.PickMeassurementActivity"
            android:label="@string/title_activity_pick_meassurement" >
        </activity>
        <activity
            android:name="edu.chl.startup.sizematters.app.EditObjectActivity"
            android:label="@string/title_activity_edit_object" >
        </activity>
    </application>

</manifest>
